body {
    background-color: #EFF9F0;
    margin: 0px;
}

.topnav {
    color: #F8F8F8;
    border-bottom: 1.5px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: white;
}

#image {
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 33%;
    width: 95px;
    height: 30px;
    background-color: #4F772D;
    color: white;
}

#posting-pic {
    text-align: center;
    margin-top: 10px;
}

#description {
    margin-left: 20px;
}

#textarea-description {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#textarea-contact {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#general-location {
    margin-left: 20px;
}

#textarea-postal-code {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom-left {
    float: left;
    margin-left: 5%;
}

.bottom-right #claim {
    position: relative;
    float: right;
    margin-right: 5%;
}

#return {
    border-radius: 25px;
    text-decoration: none;
    width: 130px;
    height: 50px;
    background-color: #4F772D;
    color: white;
    border: none;
}

#claim {
    border-radius: 25px;
    text-decoration: none;
    width: 130px;
    height: 50px;
    background-color: #4F772D;
    color: white;
    border: none;
}