.adListings {
  background-image: url("../images/white-concrete.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero {
  background-color: #6d706a;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
  height: 82vh;
  text-align: center;
}

.quoteContainer {
  display: flex;
  justify-content: center;
}

.landingQuote {
  color: white;
  font-weight: bold;
  font-size: 32pt;
}

.signupBtn {
  /* position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  display: grid;
  /* align-self: center; */
  margin: 0 auto;
  margin-top: 10vh;
  background-color: #4f772d;
  box-shadow: 0 3px #999;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.signupBtn:hover {
  background-color: #31572c;
}

.signupBtn:active {
  background-color: #4f772d;
  box-shadow: 2px 2px #666;
}

.quoteContainer {
  top: 80%;
  left: 50%;
}

.quote {
  list-style-type: none;
  /* color: white; */
  font-size: 24pt;
}

#firstParagraph,
#thirdParagraph {
  text-align: center;
}

.paperCSS {
  background: rgba(255, 255, 255, 0.2);
  height: 140px;
  width: 100px;
}

#textBlock {
  display: grid;
  margin: 0 auto;
  margin-top: 10vh;
}

@media only screen and (max-width: 600px) {
  #hero {
    background-color: #6d706a;
    /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
    object-fit: cover;
    background-repeat: no-repeat;
  }
}
