#landingPage {
  background-image: url('../images/landingpagefinal.jpg');
  background-attachment: fixed;
}

.quoteContainer {
  display: flex;
  justify-content: center;
}

.landingQuote{
 
color: white;
font-weight: bold;
font-size: 32pt;
}

.signupBtn {
  position: fixed;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #4f772d;
  box-shadow: 0 9px #999;
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 12px 24px;
  outline:none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}
.signupBtn:hover {
  background-color: #31572c;
}

.signupBtn:active {
  background-color: #4f772d;
  box-shadow: 5px 5px #666;
}

.quoteContainer{
  top: 80%;
  left: 50%;
}
.quote {
  list-style-type: none;
  color: white;
  font-size: 24pt;
}

#firstParagraph, #thirdParagraph {
  text-align: center;
}
