.adListings {
  background-image: url("../images/white-concrete.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero {
  background-image: linear-gradient(to right top, #707374, #467679, #00786b, #007748, #0c730c);  
  /* background-image: url("https://mycolor.space/gradient?ori=to+right+top&hex=%23707374&hex2=%230C730C&sub=1"); */
  height: 82vh;
  text-align: center;
}

.quoteContainer {
  display: flex;
  justify-content: center;
}

.landingQuote {
  color: white;
  font-weight: bold;
  font-size: 32pt;
}

.signupBtn {
  display: grid;
  /* align-self: center; */
  margin: 0 auto;
  margin-top: 10vh;
  background-color: #4f772d;
  box-shadow: 0 3px #999;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  width: 50%;
}

.signupBtn:hover {
  background-color: #31572c;
}

.signupBtn:active {
  background-color: #4f772d;
  box-shadow: 2px 2px #666;
}

.quoteContainer {
  top: 80%;
  left: 50%;
}

.quote {
  list-style-type: none;
  /* color: white; */
  font-size: 24pt;
}

#firstParagraph,
#thirdParagraph {
  text-align: center;
}

.paperCSS {
  background: rgba(255, 255, 255, 0.2);
  height: 140px;
  width: 100px;
}

#textBlock {
  display: grid;
  margin: 0 auto;
  margin-top: 13vh;
  color: rgba(255, 255, 255, 0.815);
}

@media only screen and (max-width: 600px) {
  #hero {
    background-image: linear-gradient(to right top, #707374, #467679, #00786b, #007748, #0c730c);    
    /* background-image: url("https://mycolor.space/gradient?ori=to+right+top&hex=%23707374&hex2=%230C730C&sub=1"); */
    object-fit: cover;
    background-repeat: no-repeat;
  }
}
